{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>Newspaper List</h1>
    <h2>
        Newspaper List
        <a href="{% url 'catalog:newspaper-create' %}" class="btn btn-primary link-to-page">
            Create
        </a>
    </h2>
    
    <form action="" method="get" class="form-inline mb-3">
        {{ search_form|crispy }}
        <input class="btn btn-primary" type="submit" value="🔍" aria-label="Search Newspapers">
    </form>
    
    {% if newspaper_list %}
        <ul class="list-unstyled">
            {% for newspaper in newspaper_list %}
                <li>
                    <a href="{% url 'catalog:newspaper-detail' pk=newspaper.id %}" aria-label="Read newspaper {{ newspaper.title }}">
                        {{ newspaper.id }} - {{ newspaper.title }} ({{ newspaper.topic.name }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info" role="alert">
            There are no newspapers in the newspaper agency.
        </div>
    {% endif %}
{% endblock %}
