{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>Redactors Table</h1>
            <a style="float: right" href="{% url 'catalog:redactor-create' %}" class="btn btn-primary link-to-page">Create</a>
            
            <form action="" method="get" class="form-inline mb-3">
                {{ search_form|crispy }}
                <input class="btn btn-primary" type="submit" value="🔍">
            </form>

            {% if redactor_list %}
                <table class="table" aria-label="Redactors Table">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for redactor in redactor_list %}
                            <tr>
                                <td>
                                    <a href="{{ redactor.get_absolute_url }}">
                                        {{ redactor.username }} 
                                        {% if user.id == redactor.id %}<span>(Me)</span>{% endif %}
                                    </a>
                                </td>
                                <td>{{ redactor.first_name }}</td>
                                <td>{{ redactor.last_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>There are no redactors in the newspaper agency. <a href="{% url 'catalog:redactor-create' %}">Create one now!</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
